/*img {
  max-width: 97%;
}

.project-blocks {
  display: block;
  width: 97%;

}*/

@media (min-width: 600px) {
  .project-blocks {
    display: inline-block;
    width: 48%;

  }
}

@media (max-width: 599px) {
  .project-blocks {
    display: block;
  }
}
