#social-nav {
  display: inline-block;
  float: right;
  margin-right: 5%;
}
img {
  max-width: 99%;
}
.project-blocks {
  display: block;
  width: 98%;
}
@media (min-width: 600px){
  .project-blocks {
    display: inline-block;
    width: 48%;

  }
}
